*{
    margin: 0;
    padding: 0;
    font-family:Arial, Helvetica, sans-serif;
}

body{
    background-image: linear-gradient(to bottom, #020F26 0%, black 100%);
    display: flex;
    width: 100vw;
    height: 100vh;
    align-items: center;
    justify-content: center;
}
:root{
    --width: calc(1.6* var(--height));
    --height: 80vh;
}

#main{
    height: var(--height);
    width: var(--width);
    display: flex;
    background-image: url("./static/imgs/bg.png");
    background-size:cover;
    border-radius: 1vw;
    flex-direction: column;
}

#header{
    color: #fff;
    display: flex;
    width: var(--width);
    height: 5%;
    /* padding: 1vw; */
    /* margin: 1vw; */
    border-radius: 2vw;
    font-size: large;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(72, 69, 69, 0.2); /* 半透明背景 */
    backdrop-filter: blur(10px); /* 背景模糊 */
    -webkit-backdrop-filter: blur(10px); /* 兼容老版本 Safari */
    user-select: none;
}

#logo{
    width: calc(0.1*var(--width));
    font-size: calc(0.02*var(--width));
    display: flex;
    margin-left: 1vw;
    flex-direction: row;
    align-items: center;
}
#logo>p{
    margin-left: .6vw;
}

i{
    font-size: calc(0.02*var(--width));
}

#menu{
    margin-left: 2vw;
    display: flex;
    float: right;
    flex-direction: row;
    text-align: center;
}
#menu>div{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 1vw;
}

#doc>p, #more>p{
    margin-left: 1vw;
}

a{
    text-decoration: none;
    color: white;
    font-size: 24px;
    display: flex;
    align-items: center;
}
a>p{
    margin-left: 2%;
    font-size: calc(0.015*var(--width));
}

#demo{
    width: calc(0.2 * var(--width));
    height: calc(0.1 * var(--height));
    border-radius: .5vw;
    border: #fff 1px solid;
    color: aliceblue;
    position: absolute;
    left: 35%;
    top: 30%;
    display: flex;
    font-size: calc(min((0.02*var(--width)),(0.02*var(--height))));
    align-items: center;
    justify-content: center;
}