/* Global Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #1a1a1a;
    color: #fff;
}

/* Header Styles */
header {
    background-color: #1a1a1a;
    padding: 20px;
    display: flex;
    /* justify-content: space-between; */
    /* align-items: center; */
}


nav{
    display: flex;
    flex-direction: row;
    align-items: center;
}

ul{
    float: right;
    position: absolute;
    left: 50%;
    transform: translate(-50%,-50%);
}

.logo {
    color: #fff;
    font-size: 24px;
    text-decoration: none;
    text-align: center;
    justify-content: center;
    align-self: center;
}

.menu {
    list-style: none;
    display: flex;
    align-self: center;
}

.menu li {
    margin-right: 20px;
}

.menu li a {
    color: #fff;
    text-decoration: none;
}

.menu-toggle {
    background-color: salmon;
    color: #fff;
    text-decoration: none;
    position: absolute;
    right: 0;
    transform: (100%,100%);
}

/* Main Styles */
main {
    padding: 50px;
}

.hero {
    display: flex;
    align-items: center;
}

.hero-content {
    flex: 1;
    padding-right: 50px;
}

.hero-content h1 {
    font-size: 36px;
    margin-bottom: 20px;
}

.hero-content p {
    font-size: 14px;
    margin-bottom: 20px;
}

.learn-more {
    display: inline-block;
    padding: 10px 20px;
    background-color: #666;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
}

.hero-image {
    flex: 1;
    text-align: center;
}

.hero-image img {
    max-width: 100%;
    height: auto;
}
