*{
    margin: 0;
    padding: 0;
    font-family:Azonix;
}

@font-face {
    font-family: DepartureMono;
    src: url(./static/fonts/DepartureMono-Regular.woff);
}

@font-face {
    font-family: Azonix;
    src: url(./static/fonts/azonix.otf);
}
body{
    background-image: linear-gradient(to bottom, #020F26 0%, black 100%);
    display: flex;
    width: 100vw;
    height: 100vh;
    align-items: center;
    justify-content: center;
}
:root{
    --width: calc(1.6* var(--height));
    --height: 80vh;
}

#main{
    height: var(--height);
    width: var(--width);
    display: flex;
    background-image: url("./static/imgs/bg.png");
    background-size:cover;
    /* border-radius: 1vw; */
    flex-direction: column;
}

#header{
    color: #fff;
    display: flex;
    width: var(--width);
    height: 5%;
    font-size: large;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(72, 69, 69, 0.2); /* 半透明背景 */
    backdrop-filter: blur(10px); /* 背景模糊 */
    -webkit-backdrop-filter: blur(10px); /* 兼容老版本 Safari */
    user-select: none;
}

#logo{
    width: calc(0.1*var(--width));
    font-size: calc(0.02*var(--width));
    display: flex;
    color: rgb(255, 255, 255);
    margin-left: 1vw;
    flex-direction: row;
    align-items: center;
}
#logo>p{
    margin-left: .6vw;
}

i{
    font-size: calc(0.02*var(--width));
}

#menu{
    margin-left: 2vw;
    display: flex;
    float: right;
    flex-direction: row;
    text-align: center;
}
#menu>div{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 1vw;
}

#doc>p, #more>p{
    margin-left: 1vw;
}

a{
    height: 100%;
    text-decoration: none;
    color: white;
    font-size: 24px;
    display: flex;
    align-items: center;
    transition:linear 0.2s;
}
a>p{
    /* margin-left: 1%; */
    font-size: calc(0.015*var(--width));
}

#demo{
    cursor: pointer;
    width: calc(0.2 * var(--width));
    height: calc(0.1 * var(--height));
    border-radius: .5vw;
    background-color: #222;
    color: #fff;
    position: absolute;
    left: 35%;
    top: 30%;
    display: flex;
    font-size: calc(min(calc(0.02*var(--width)),calc(0.02*var(--height))));
    align-items: center;
    justify-content: center;
    
}

a:hover{
    transition: all linear 0.5s;
    color: aquamarine;
}

.button {
    cursor: pointer;
    position: relative;
    text-transform: uppercase;
    color: #ffffff;
    background: rgba(255, 255, 255, .1);
    border: 3px solid rgba(255, 255, 255, .2);
    border-radius: 18px;
    transition: .4s;
}

.button:hover {
    z-index: 1;
    border-color: transparent;
    background: linear-gradient(
        90deg,
        #f9d923,
        #00a19d,
        #0c87b7,
        #cb49ff,
        #ff6666,
        #f9d923
    );
    background-size: 400%;
    box-shadow: 0 0 15px rgb(2, 4, 24);
    animation: glow 12s linear forwards;
}

@keyframes glow {

    from {
        background-position: 0%;
    }

    to {
        background-position: 400%;
    }

}

.button::before {
    content: '';
    position: absolute;
    top: -1px;
    right: -1px;
    bottom: -1px;
    left: -1px;
    background: inherit;
    filter: blur(80px);
    opacity: 0;
    transition: .4s ease-out;
}

.button:hover::before {
    opacity: 1; 
    z-index: -1;
}